<%- include('partials/header.ejs') %>
<section data-id="5b18943"
    class="elementor-element elementor-element-5b18943 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-element_type="section" style="margin-top: 100px;">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div data-id="7ad41ff"
                class="elementor-element elementor-element-7ad41ff elementor-column elementor-col-100 elementor-top-column"
                data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="f989fed"
                            class="elementor-element elementor-element-f989fed elementor-widget elementor-widget-xs-heading"
                            data-element_type="xs-heading.default">
                            <div class="elementor-widget-container">
                                <div class="xs-heading">
                                    <h3 class="heading-sub-title">Ödeme Planları</h3>
                                    <h2 class="heading-title">En Çok<span> SATILANLAR</span></h2>
                                </div>
                            </div>
                        </div>
                        <div data-id="5631cc6"
                            class="elementor-element elementor-element-5631cc6 elementor-widget elementor-widget-xs-price"
                            data-element_type="xs-price.default">
                            <div class="elementor-widget-container row">
                                <div class="card col-md-4" style="width: 18rem;">
                                    <img class="card-img-top"
                                        src="wp-content\uploads\2018\08\security-company-images-1.png"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-id="2f743b2"
                            class="elementor-element elementor-element-2f743b2 elementor-widget elementor-widget-heading"
                            data-element_type="heading.default">
                            <div class="elementor-widget-container">
                                <h5 class="elementor-heading-title elementor-size-default">
                                    Detayları görmek ve
                                    daha fazla bilgi almak icin <a href="../hostinza/pricing/index.html">tıklayın</a>
                                </h5>
                            </div>
                        </div>
                        <div data-id="677de54"
                            class="elementor-element elementor-element-677de54 elementor-align-center elementor-widget elementor-widget-icon-list"
                            data-element_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items elementor-inline-items">
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                            <i class="icon icon-back_up" aria-hidden="true"></i>
                                        </span>
                                        <span class="elementor-icon-list-text">Günlük Bakım</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                            <i class="icon icon-migration" aria-hidden="true"></i>
                                        </span>
                                        <span class="elementor-icon-list-text">Ücretsiz Kesif</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                            <i class="icon icon-checkmark" aria-hidden="true"></i>
                                        </span>
                                        <span class="elementor-icon-list-text">%100 Güven</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer.ejs') %>