<footer class="xs-footer-section footer-v2">
    <div class="container">
        <div class="footer-bottom">
            <div class="row">

                <div class="col-md-6">
                    <div class="footer-bottom-info wow fadeInUp">
                        <p>Offers valid for a limited time onlyand reflect multi annual discounts. Other terms and
                            conditions may apply.<a href="#">Click Here</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="xs-list list-inline wow fadeInUp">
                        <li><img src="wp-content/uploads/2018/10/security-company-images-white-1.png" alt=""></li>
                        <li><img src="wp-content/uploads/2018/10/security-company-images-white-2.png" alt=""></li>
                        <li><img src="wp-content/uploads/2018/10/security-company-images-white-3.png" alt=""></li>
                        <li><img src="wp-content/uploads/2018/10/security-company-images-white-4.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-group" style="background-image: url('wp-content/uploads/2018/10/footer-bg-21.png')">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget wow fadeInUp"><a href="#"><img width="172" height="40"
                                    src="wp-content/uploads/2018/10/footer-logo-v21.png"
                                    class="image wp-image-9  attachment-full size-full" alt=""
                                    style="max-width: 100%; height: auto;" /></a></div>
                        <div class="footer-widget wow fadeInUp">
                            <div class="textwidget">
                                <p>© 2018 Hostpress Theme by <a href="#" target="_blank" rel="noopener">Xpeed
                                        Studio</a></p>
                            </div>
                        </div>
                        <div class="footer-widget wow fadeInUp">
                            <div class="footer-social">
                                <ul class="xs-social-list xs-social-list-v6 hostinza-social-list">

                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>





                                </ul>
                            </div><!-- Footer social end -->

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget wow fadeInUp">
                            <h3 class="widget-title">Services</h3>
                            <div class="menu-services-container">
                                <ul id="menu-services" class="menu">
                                    <li id="menu-item-88"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88">
                                        <a href="shared-hosting/index.html">Shared Hosting</a></li>
                                    <li id="menu-item-87"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87">
                                        <a href="reseller-hosting/index.html">Reseller Hosting</a></li>
                                    <li id="menu-item-85"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
                                        <a href="dedicated-hosting/index.html">Dedicated Hosting</a></li>
                                    <li id="menu-item-84"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
                                        <a href="cloud-hosting/index.html">Cloud Hosting</a></li>
                                    <li id="menu-item-89"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89">
                                        <a href="vps-hosting/index.html">VPS Hosting</a></li>
                                    <li id="menu-item-86"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
                                        <a href="domain-name/index.html">Domain Name</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget wow fadeInUp">
                            <h3 class="widget-title">About</h3>
                            <div class="menu-about-container">
                                <ul id="menu-about" class="menu">
                                    <li id="menu-item-90"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                                        <a href="about-us/index.html">About us</a></li>
                                    <li id="menu-item-91"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91">
                                        <a href="affiliate/index.html">Affiliate</a></li>
                                    <li id="menu-item-92"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92">
                                        <a href="contact/index.html">Contact</a></li>
                                    <li id="menu-item-95"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95">
                                        <a href="pricing/index.html">Pricing</a></li>
                                    <li id="menu-item-94"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94">
                                        <a href="latest-blog/index.html">Latest Blog</a></li>
                                    <li id="menu-item-93"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                        <a href="faq/index.html">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget wow fadeInUp">
                            <h3 class="widget-title">Solutions</h3>
                            <div class="menu-solutions-container">
                                <ul id="menu-solutions" class="menu">
                                    <li id="menu-item-100"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100">
                                        <a href="legal/index.html">Legal</a></li>
                                    <li id="menu-item-97"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97">
                                        <a href="acceptable-policy/index.html">Acceptable Policy</a></li>
                                    <li id="menu-item-99"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-99">
                                        <a href="terms-of-service/index.html">Terms of Service</a></li>
                                    <li id="menu-item-96"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96">
                                        <a href="documentation/index.html">Documentation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget wow fadeInUp">
                            <h3 class="widget-title">Contact</h3>
                            <ul class="contact-info-widget">
                                <li><a href="#" target="_blank"></i>182 Radison Street, Madison Avenue New York,
                                        NY-78948</a></li>

                                <li><a href="tel:+1 (789) 258-5879"></i>+1 (789) 258-5879</a></li>

                                <li><a href="mailto:info@hostingcompany.com"></i>info@hostingcompany.com</a></li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="zoom-anim-dialog mfp-hide modal-searchPanel" id="modal-popup-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="xs-search-panel">

                <form method="get" action="#" class="xs-serach">
                    <div class="input-group">
                        <input type="search" name="s" placeholder="Search" value="">
                        <button class="search-btn"><i class="icon icon-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="xs-sidebar-group info-group">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="#" class="close-side-widget">
                    X
                </a>
            </div>
            <div class="sidebar-textwidget">
                <div class="sidebar-logo-wraper">
                    <img src="wp-content/uploads/2018/10/blue_logo1.png" alt="Home Seven">
                </div>
                <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there
                    live the blind texts. Separated they live in Bookmarksgrove right at the coast of</p>

                <ul class="sideabr-list-widget">
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="wp-content/uploads/2018/10/location1.png" alt="">
                            </div>
                            <div class="media-body">
                                <p>759 Pinewood Avenue</p>
                                <span>Marquette, Michigan</span>
                            </div>
                        </div><!-- address 1 -->
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="wp-content/uploads/2018/10/mail1.png" alt="">
                            </div>
                            <div class="media-body">
                                <p>info@domain.com</p>
                                <span>Online Support</span>
                            </div>
                        </div><!-- address 1 -->
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="wp-content/uploads/2018/10/phone1.png" alt="">
                            </div>
                            <div class="media-body">
                                <p>906-624-2565</p>
                                <span>Mon-Fri 8am-5pm</span>
                            </div>
                        </div><!-- address 1 -->
                    </li>
                </ul><!-- .sideabr-list-widget -->

                <div class="subscribe-from">
                    <p></p>
                    <script>(function () {
                            if (!window.mc4wp) {
                                window.mc4wp = {
                                    listeners: [],
                                    forms: {
                                        on: function (event, callback) {
                                            window.mc4wp.listeners.push({
                                                event: event,
                                                callback: callback
                                            });
                                        }
                                    }
                                }
                            }
                        })();
                    </script>
                    <!-- MailChimp for WordPress v4.2.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-439" method="post" data-id="439"
                        data-name="Newsletter">
                        <div class="mc4wp-form-fields">
                            <div id="subscribe-form" class="subscribe-form">
                                <label for="sub-input"></label>
                                <div class="form-group">
                                    <input type="email" name="EMAIL" id="xs-newsletter-email"
                                        placeholder="Enter your mail here" class="form-control">
                                    <button class="sub-btn xs_mailchimp_submit" type="submit"><i
                                            class="icon icon-arrow-right"></i></button>
                                    <input type="hidden" name="list_id" id="xs_list_id" class="xs_list_id"
                                        value="<?php echo esc_attr($list_id); ?>">
                                </div>
                            </div>
                            <div class="xs_msg"></div>
                        </div><label style="display: none !important;">Leave this field empty if you're human:
                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp"
                            value="1585686255" /><input type="hidden" name="_mc4wp_form_id" value="439" /><input
                            type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                        <div class="mc4wp-response"></div>
                    </form><!-- / MailChimp for WordPress Plugin -->
                </div>
                <ul class="social-list version-2">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="facebook"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="facebook"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="facebook"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="facebook"><i class="fa fa-vimeo"></i></a></li>
                </ul><!-- .social-list -->
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="zoom-anim-dialog mfp-hide modal-language" id="modal-popup-wpml">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="language-content">
                <p>Switch The Language</p>
                <ul class="flag-lists">
                    <li><a href="#"><img src="wp-content/themes/hostinza/assets/images/flags/006-united-states.svg"
                                alt="English"><span>English</span></a></li>
                    <li><a href="#"><img src="wp-content/themes/hostinza/assets/images/flags/002-canada.svg"
                                alt="English"><span>English</span></a></li>
                    <li><a href="#"><img src="wp-content/themes/hostinza/assets/images/flags/003-vietnam.svg"
                                alt="Vietnamese"><span>Vietnamese</span></a></li>
                    <li><a href="#"><img src="wp-content/themes/hostinza/assets/images/flags/004-france.svg"
                                alt="French"><span>French</span></a></li>
                    <li><a href="#"><img src="wp-content/themes/hostinza/assets/images/flags/005-germany.svg"
                                alt="German"><span>German</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>(function () {
        function addEventListener(element, event, handler) {
            if (element.addEventListener) {
                element.addEventListener(event, handler, false);
            } else if (element.attachEvent) {
                element.attachEvent('on' + event, handler);
            }
        } function maybePrefixUrlField() {
            if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                this.value = "http://" + this.value;
            }
        }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if (urlFields && urlFields.length > 0) {
            for (var j = 0; j < urlFields.length; j++) {
                addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
            }
        }/* test if browser supports date fields */
        var testInput = document.createElement('input');
        testInput.setAttribute('type', 'date');
        if (testInput.type !== 'date') {

            /* add placeholder & pattern to all date fields */
            var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
            for (var i = 0; i < dateFields.length; i++) {
                if (!dateFields[i].placeholder) {
                    dateFields[i].placeholder = 'YYYY-MM-DD';
                }
                if (!dateFields[i].pattern) {
                    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                }
            }
        }

    })();</script>
<link rel='stylesheet' id='elementor-post-102-css'
    href='wp-content/uploads/elementor/css/post-1022900.css?ver=1540968540' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-469-css'
    href='wp-content/uploads/elementor/css/post-469099c.css?ver=1541159374' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-475-css'
    href='wp-content/uploads/elementor/css/post-475b203.css?ver=1538658274' type='text/css' media='all' />
<link rel='stylesheet' id='hostinza-styles-extras-css'
    href='wp-content/themes/hostinza/assets/css/domain-checker/bootstrap-flat-extras5152.css?ver=1.0' type='text/css'
    media='all' />
<link rel='stylesheet' id='hostinza-styles-flat-css'
    href='wp-content/themes/hostinza/assets/css/domain-checker/bootstrap-flat5152.css?ver=1.0' type='text/css'
    media='all' />
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "https:\/\/wp.xpeedstudio.com\/hostinza-v2\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } } };
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/contact-form-7/includes/js/scripts5560.js?ver=5.0.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var hostinza_path = { "hostinza_script": "https:\/\/wp.xpeedstudio.com\/hostinza-v2\/wp-content\/plugins\/hostinza-assistance\/api\/tweet.php" };
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/tweetiec8f9.js?ver=4.9.13'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/jquery-ui.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/tweetie5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/navigation.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/wow.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/Popper5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/bootstrap.min5152.js?ver=1.0'></script>
<script type='text/javascript'
    src='wp-content/themes/hostinza/assets/js/jquery.magnific-popup.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/owl.carousel.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/shuffle-letters5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/hostslide5152.js?ver=1.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var translate_array = { "load_more": "Load More" };
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/main5152.js?ver=1.0'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/jquery.ajaxchimp.min5152.js?ver=1.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var xs_ajax_obj = { "ajaxurl": "https:\/\/wp.xpeedstudio.com\/hostinza-v2\/wp-admin\/admin-ajax.php", "marketpess_nonce": "4eb90c35d3" };
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/ajax-scriptc8f9.js?ver=4.9.13'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.minc8f9.js?ver=4.9.13'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var hostinza_script = { "req_domain_text": "Please enter your domain.", "recaptcha_text": "Please verify that you are not a robot." };
    var hostinza_ajax = { "ajaxurl": "\/hostinza-v2\/wp-admin\/admin-ajax.php", "hostinza_nonce": "64efbf4260" };
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/domain-checker/script5152.js?ver=1.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
/* ]]> */
</script>
<script type='text/javascript'
    src='wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.mind19b.js?ver=4.2.5'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='https://wp.xpeedstudio.com/hostinza-v2/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.2.5'></script>
<![endif]-->
<script type='text/javascript' src='wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
<script type='text/javascript'
    src='wp-content/plugins/elementor/assets/lib/dialog/dialog.min268f.js?ver=4.5.0'></script>
<script type='text/javascript'
    src='wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2'></script>
<script type='text/javascript'
    src='wp-content/plugins/elementor/assets/lib/swiper/swiper.jquery.mincb20.js?ver=4.4.3'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var elementorFrontendConfig = { "isEditMode": "", "is_rtl": "", "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "version": "2.2.4", "urls": { "assets": "https:\/\/wp.xpeedstudio.com\/hostinza-v2\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "general": { "elementor_global_image_lightbox": "yes", "elementor_enable_lightbox_in_editor": "yes" } }, "post": { "id": 143, "title": "Home Seven", "excerpt": "" } };
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/elementor/assets/js/frontend.minac31.js?ver=2.2.4'></script>
<script type='text/javascript' src='wp-content/themes/hostinza/assets/js/elementor5152.js?ver=1.0'></script>
</body>

<!-- Mirrored from wp.xpeedstudio.com/hostinza-v2/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 31 Mar 2020 20:25:58 GMT -->

</html>