<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en-US">
<!--<![endif]-->


<!-- Mirrored from wp.xpeedstudio.com/hostinza-v2/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 31 Mar 2020 20:24:15 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style id="kirki-css-vars">
        :root {}
    </style>
    <title>Hostinza V2 &#8211; WordPress Theme</title>

    <link rel="alternate" type="application/rss+xml" title="Hostinza V2 &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Hostinza V2 &raquo; Comments Feed"
        href="comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/wp.xpeedstudio.com\/hostinza-v2\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.13" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css'
        href='wp-content/plugins/contact-form-7/includes/css/styles5560.css?ver=5.0.4' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'
        href='wp-content/plugins/revslider/public/assets/css/settingsdd22.css?ver=5.4.7.2' type='text/css'
        media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {}
    </style>
    <link rel='stylesheet' id='tf-compiled-options-hostinza-options-css'
        href='wp-content/uploads/titan-framework-hostinza-options-cssc8f9.css?ver=4.9.13' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-css'
        href='wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min9e95.css?ver=3.8.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='font-awesome-css'
        href='wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min1849.css?ver=4.7.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css'
        href='wp-content/plugins/elementor/assets/lib/animations/animations.minac31.css?ver=2.2.4' type='text/css'
        media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'
        href='wp-content/plugins/elementor/assets/css/frontend.minac31.css?ver=2.2.4' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css'
        href='wp-content/uploads/elementor/css/global5742.css?ver=1538471753' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-143-css'
        href='wp-content/uploads/elementor/css/post-1433669.css?ver=1540983407' type='text/css' media='all' />
    <link rel='stylesheet' id='hostinza-fonts-css'
        href='../../fonts.googleapis.com/css1faa.css?family=Karla%3A400%2C700%7CRubik%3A300%2C400%2C500%2C700&amp;ver=1.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='wp-content/themes/hostinza/assets/css/bootstrap.min5152.css?ver=1.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='hostinza-xs-main-css'
        href='wp-content/themes/hostinza/assets/css/xs_main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='hostinza-custom-blog-css'
        href='wp-content/themes/hostinza/assets/css/blog-style5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='iconfont-css' href='wp-content/themes/hostinza/assets/css/iconfont5152.css?ver=1.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css'
        href='wp-content/themes/hostinza/assets/css/magnific-popup5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='wp-content/themes/hostinza/assets/css/animate5152.css?ver=1.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css'
        href='wp-content/themes/hostinza/assets/css/owl.carousel.min5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-default-css'
        href='wp-content/themes/hostinza/assets/css/owl.theme.default.min5152.css?ver=1.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='hostinza-navigation-css'
        href='wp-content/themes/hostinza/assets/css/navigation.min5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui-structure-css'
        href='wp-content/themes/hostinza/assets/css/jquery-ui.structure.min5152.css?ver=1.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='jquery-ui-theme-css'
        href='wp-content/themes/hostinza/assets/css/jquery-ui.theme.min5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='hostinza-style-css' href='wp-content/themes/hostinza/assets/css/style5152.css?ver=1.0'
        type='text/css' media='all' />
    <style id='hostinza-style-inline-css' type='text/css'>
        .woocommerce ul.products li.product .added_to_cart:hover,
        .woocommerce #respond input#submit.alt:hover,
        .woocommerce a.button.alt:hover,
        .woocommerce button.button.alt:hover,
        .woocommerce input.button.alt:hover {
            background-color: ;
        }

        .woocommerce ul.products li.product .button,
        .woocommerce ul.products li.product .added_to_cart,
        .woocommerce nav.woocommerce-pagination ul li a:focus,
        .woocommerce nav.woocommerce-pagination ul li a:hover,
        .woocommerce nav.woocommerce-pagination ul li span.current,
        .woocommerce #respond input#submit.alt,
        .woocommerce a.button.alt,
        .woocommerce button.button.alt,
        .woocommerce input.button.alt,
        .sponsor-web-link a:hover i {
            background-color: ;
        }
    </style>
    <link rel='stylesheet' id='hostinza-main-styles-css'
        href='wp-content/themes/hostinza/assets/css/domain-checker/style5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='hostinza-responsive-css'
        href='wp-content/themes/hostinza/assets/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='kirki-styles-global-css'
        href='wp-content/plugins/kirki/assets/css/kirki-stylesbace.css?ver=3.0.34.1' type='text/css' media='all' />
    <style id='kirki-styles-global-inline-css' type='text/css'>
        .xs-footer-section {
            background-color: #0e064a;
        }

        .footer-group {
            background-color: #0e064a;
        }

        .footer-widget .widget-title {
            color: #ffffff;
        }

        footer.xs-footer-section.footer-group p {
            color: rgba(255, 255, 255, 0.5);
        }

        footer.xs-footer-section.footer-v2 p {
            color: rgba(255, 255, 255, 0.5);
        }

        footer.xs-footer-section.footer-group a {
            color: rgba(255, 255, 255, 0.5);
        }

        footer.xs-footer-section.footer-v2 a {
            color: rgba(255, 255, 255, 0.5);
        }

        footer.xs-footer-section.footer-group a:hover {
            color: #ffffff;
        }

        footer.xs-footer-section.footer-v2 a:hover {
            color: #ffffff;
        }
    </style>
    <link rel='stylesheet' id='google-fonts-1-css'
        href='fonts.googleapis.com/cssbe2c.css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRubik%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CKarla%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=4.9.13'
        type='text/css' media='all' />
    <link rel='stylesheet' id='hostinzaGoogleFonts-css'
        href='/fonts.googleapis.com/css9104.css?family=Poppins%3A300&amp;ver=4.9.13' type='text/css' media='all' />
    <script type='text/javascript' src='wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'
        src='wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.mindd22.js?ver=5.4.7.2'></script>
    <script type='text/javascript'
        src='wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.mindd22.js?ver=5.4.7.2'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />

    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.13" />

    <link rel="alternate" type="application/json+oembed"
        href="wp-json/oembed/1.0/embed4f0b.json?url=https%3A%2F%2Fwp.xpeedstudio.com%2Fhostinza-v2%2F" />
    <link rel="alternate" type="text/xml+oembed"
        href="wp-json/oembed/1.0/embed5bf2?url=https%3A%2F%2Fwp.xpeedstudio.com%2Fhostinza-v2%2F&amp;format=xml" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator"
        content="Powered by Slider Revolution 5.4.7.2 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
</head>

<body
    class="home page-template page-template-template page-template-template-multipage-homepage page-template-templatetemplate-multipage-homepage-php page page-id-143 elementor-default elementor-page elementor-page-143"
    data-spy="scroll" data-target="#header">


    <div id="preloader">
        <div class="preloader-wrapper">
            <div class="spinner"></div>
        </div>
        <div class="preloader-cancel-btn">
            <a href="#" class="btn btn-secondary prelaoder-btn">Cancel Preloader</a>
        </div>
    </div>
    <div class="header header-transparent nav-sticky header-transparent">
        <div class="xs-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="xs-top-bar-info">
                            <li>
                                <p><i class="icon icon-phone1"></i>0530 101 9997</p>
                            </li>
                            <li>
                                <a href="mailto:info@domain.com"><i
                                        class="icon icon-envelope1"></i>letkom@letkomtelekom.com</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <header class="xs-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="xs-logo-wraper">
                        <a href="index.html" class="xs-logo">
                            <h1 style="color:white">LETKOM</h1>

                        </a>
                    </div>
                    <nav class="xs-menus ml-auto">
                        <div class="nav-header">
                            <a class="nav-brand" href="index.html">
                                <img src="wp-content/uploads/2018/10/logo.png" alt="Hostinza V2">
                            </a>
                            <div class="nav-toggle"></div>
                        </div>
                        <div class="nav-menus-wrapper">
                            <ul id="main-menu" class="nav-menu">
                                <li id="menu-item-116"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-116 single-menu-item">
                                    <a title="Home" href="/">Anasayfa</a>

                                </li>
                                <li id="menu-item-117"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-117 single-menu-item">
                                    <a title="Pages" href="#">Ürünlerimiz</a>
                                    <ul role="menu" class="nav-dropdown xs-icon-menu nav-submenu ">
                                        <li id="menu-item-472"
                                            class="menu-item menu-item-type-post_type menu-item-object-mega_menu menu-item-472 single-menu-item">
                                            <div class="megamenu-content">
                                                <div class="elementor elementor-469">
                                                    <div class="elementor-inner">
                                                        <div class="elementor-section-wrap">
                                                            <div data-id="e7408b9"
                                                                class="elementor-element elementor-element-e7408b9 xs-icon-menu elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                                                                data-element_type="section">
                                                                <div
                                                                    class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-row">
                                                                        <div data-id="4af8c0d"
                                                                            class="elementor-element elementor-element-4af8c0d elementor-column elementor-col-33 elementor-top-column"
                                                                            data-element_type="column">
                                                                            <div
                                                                                class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div data-id="6f4bf41"
                                                                                        class="elementor-element elementor-element-6f4bf41 elementor-widget elementor-widget-xs-woo-page-list-link"
                                                                                        data-element_type="xs-woo-page-list-link.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <ul class="xs-icon-menu">
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="about-us/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-briefcase"></i>
                                                                                                        About </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="affiliate/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-line-chart"></i>
                                                                                                        Affiliate </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="pricing/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-agenda"></i>
                                                                                                        Pricing </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="faq/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-question-circle"></i>
                                                                                                        FAQ </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-id="e576968"
                                                                            class="elementor-element elementor-element-e576968 elementor-column elementor-col-33 elementor-top-column"
                                                                            data-element_type="column">
                                                                            <div
                                                                                class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div data-id="eb1608a"
                                                                                        class="elementor-element elementor-element-eb1608a elementor-widget elementor-widget-xs-woo-page-list-link"
                                                                                        data-element_type="xs-woo-page-list-link.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <ul class="xs-icon-menu">
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="../hostinza/whois/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-briefcase"></i>
                                                                                                        Whois </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="../hostinza/support/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-line-chart"></i>
                                                                                                        Support </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="../../whmcs.finesttheme.com/cart.2e14c8.delayed?a=view">
                                                                                                        <i
                                                                                                            class="icon icon-shopping-cart-1"></i>
                                                                                                        Cart </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="http://whmcs.finesttheme.com/cart.php?a=view">
                                                                                                        <i
                                                                                                            class="icon icon-wallet"></i>
                                                                                                        Checkout </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-id="92c340d"
                                                                            class="elementor-element elementor-element-92c340d elementor-column elementor-col-33 elementor-top-column"
                                                                            data-element_type="column">
                                                                            <div
                                                                                class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div data-id="508b8eb"
                                                                                        class="elementor-element elementor-element-508b8eb elementor-widget elementor-widget-xs-woo-page-list-link"
                                                                                        data-element_type="xs-woo-page-list-link.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <ul class="xs-icon-menu">
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="../hostinza/404/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-briefcase"></i>
                                                                                                        404 </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="../hostinza/terms/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-direction"></i>
                                                                                                        Terms </a>
                                                                                                </li>
                                                                                                <li
                                                                                                    class="single-menu-item">
                                                                                                    <a
                                                                                                        href="../hostinza/privacy/index.html">
                                                                                                        <i
                                                                                                            class="icon icon-padlock-1"></i>
                                                                                                        Privacy </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-118"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-118 single-menu-item">
                                    <a title="Hosting" href="#">Hizmetlerimiz</a>
                                    <ul role="menu" class="nav-dropdown xs-icon-menu nav-submenu ">
                                        <li id="menu-item-485"
                                            class="menu-item menu-item-type-post_type menu-item-object-mega_menu menu-item-485 single-menu-item">
                                            <div class="megamenu-content">
                                                <div class="elementor elementor-475">
                                                    <div class="elementor-inner">
                                                        <div class="elementor-section-wrap">
                                                            <div data-id="4030bee"
                                                                class="elementor-element elementor-element-4030bee elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                                                                data-element_type="section">
                                                                <div
                                                                    class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-row">
                                                                        <div data-id="57d77e5"
                                                                            class="elementor-element elementor-element-57d77e5 elementor-column elementor-col-50 elementor-top-column"
                                                                            data-element_type="column">
                                                                            <div
                                                                                class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div data-id="2230680"
                                                                                        class="elementor-element elementor-element-2230680 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                        data-element_type="image-box.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-image-box-wrapper">
                                                                                                <figure
                                                                                                    class="elementor-image-box-img">
                                                                                                    <a
                                                                                                        href="../hostinza/shared-hosting/index.html"><img
                                                                                                            width="41"
                                                                                                            height="40"
                                                                                                            src="wp-content/uploads/2018/10/icon-1-11.png"
                                                                                                            class="attachment-full size-full"
                                                                                                            alt="" /></a>
                                                                                                </figure>
                                                                                                <div
                                                                                                    class="elementor-image-box-content">
                                                                                                    <h3
                                                                                                        class="elementor-image-box-title">
                                                                                                        <a
                                                                                                            href="../hostinza/shared-hosting/index.html">Kamera
                                                                                                            Sistemleri</a>
                                                                                                    </h3>
                                                                                                    <p
                                                                                                        class="elementor-image-box-description">
                                                                                                        Protect your
                                                                                                        Brand</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div data-id="d426a46"
                                                                                        class="elementor-element elementor-element-d426a46 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                        data-element_type="image-box.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-image-box-wrapper">
                                                                                                <figure
                                                                                                    class="elementor-image-box-img">
                                                                                                    <a
                                                                                                        href="../hostinza/reseller-hosting/index.html"><img
                                                                                                            width="40"
                                                                                                            height="40"
                                                                                                            src="wp-content/uploads/2018/10/icon-2-11.png"
                                                                                                            class="attachment-full size-full"
                                                                                                            alt="" /></a>
                                                                                                </figure>
                                                                                                <div
                                                                                                    class="elementor-image-box-content">
                                                                                                    <h3
                                                                                                        class="elementor-image-box-title">
                                                                                                        <a
                                                                                                            href="../hostinza/reseller-hosting/index.html">Görüntülü
                                                                                                            Diafon</a>
                                                                                                    </h3>
                                                                                                    <p
                                                                                                        class="elementor-image-box-description">
                                                                                                        <span
                                                                                                            style="font-size: 14px;">Deploy</span>
                                                                                                        your Brand
                                                                                                        faster</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div data-id="99b381e"
                                                                                        class="elementor-element elementor-element-99b381e elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                        data-element_type="image-box.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-image-box-wrapper">
                                                                                                <figure
                                                                                                    class="elementor-image-box-img">
                                                                                                    <a
                                                                                                        href="../hostinza/vps-hosting/index.html"><img
                                                                                                            width="42"
                                                                                                            height="35"
                                                                                                            src="wp-content/uploads/2018/10/icon-3-11.png"
                                                                                                            class="attachment-full size-full"
                                                                                                            alt="" /></a>
                                                                                                </figure>
                                                                                                <div
                                                                                                    class="elementor-image-box-content">
                                                                                                    <h3
                                                                                                        class="elementor-image-box-title">
                                                                                                        <a
                                                                                                            href="../hostinza/vps-hosting/index.html">Elektrik
                                                                                                            Tesisatı</a>
                                                                                                    </h3>
                                                                                                    <p
                                                                                                        class="elementor-image-box-description">
                                                                                                        Protect your
                                                                                                        Brand</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-id="98cdedd"
                                                                            class="elementor-element elementor-element-98cdedd elementor-column elementor-col-50 elementor-top-column"
                                                                            data-element_type="column">
                                                                            <div
                                                                                class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div data-id="0086a3f"
                                                                                        class="elementor-element elementor-element-0086a3f elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                        data-element_type="image-box.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-image-box-wrapper">
                                                                                                <figure
                                                                                                    class="elementor-image-box-img">
                                                                                                    <a
                                                                                                        href="../hostinza/cloud-hosting/index.html"><img
                                                                                                            width="40"
                                                                                                            height="40"
                                                                                                            src="wp-content/uploads/2018/10/icon-4-11.png"
                                                                                                            class="attachment-full size-full"
                                                                                                            alt="" /></a>
                                                                                                </figure>
                                                                                                <div
                                                                                                    class="elementor-image-box-content">
                                                                                                    <h3
                                                                                                        class="elementor-image-box-title">
                                                                                                        <a
                                                                                                            href="../hostinza/cloud-hosting/index.html">
                                                                                                            Network
                                                                                                            Hizmetleri</a>
                                                                                                    </h3>
                                                                                                    <p
                                                                                                        class="elementor-image-box-description">
                                                                                                        Access your
                                                                                                        files anywhere
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div data-id="4fc2102"
                                                                                        class="elementor-element elementor-element-4fc2102 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                        data-element_type="image-box.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-image-box-wrapper">
                                                                                                <figure
                                                                                                    class="elementor-image-box-img">
                                                                                                    <a
                                                                                                        href="../hostinza/dedicated-hosting/index.html"><img
                                                                                                            width="40"
                                                                                                            height="40"
                                                                                                            src="wp-content/uploads/2018/10/icon-51.png"
                                                                                                            class="attachment-full size-full"
                                                                                                            alt="" /></a>
                                                                                                </figure>
                                                                                                <div
                                                                                                    class="elementor-image-box-content">
                                                                                                    <h3
                                                                                                        class="elementor-image-box-title">
                                                                                                        <a
                                                                                                            href="../hostinza/dedicated-hosting/index.html">Alarm
                                                                                                            Sistemleri
                                                                                                        </a>
                                                                                                    </h3>
                                                                                                    <p
                                                                                                        class="elementor-image-box-description">
                                                                                                        Be secure, be
                                                                                                        safe</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div data-id="b3e1e53"
                                                                                        class="elementor-element elementor-element-b3e1e53 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                        data-element_type="image-box.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-image-box-wrapper">
                                                                                                <figure
                                                                                                    class="elementor-image-box-img">
                                                                                                    <a
                                                                                                        href="../hostinza/domain-name/index.html"><img
                                                                                                            width="40"
                                                                                                            height="40"
                                                                                                            src="wp-content/uploads/2018/10/icon-61.png"
                                                                                                            class="attachment-full size-full"
                                                                                                            alt="" /></a>
                                                                                                </figure>
                                                                                                <div
                                                                                                    class="elementor-image-box-content">
                                                                                                    <h3
                                                                                                        class="elementor-image-box-title">
                                                                                                        <a
                                                                                                            href="../hostinza/domain-name/index.html">Bilgisayar
                                                                                                            Sistemleri</a>
                                                                                                    </h3>
                                                                                                    <p
                                                                                                        class="elementor-image-box-description">
                                                                                                        Grab your domain
                                                                                                        name now!</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-119"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119 single-menu-item">
                                    <a title="News" href="#">Hakkımızda</a>
                                    <ul role="menu" class="nav-dropdown xs-icon-menu nav-submenu ">
                                        <li id="menu-item-121"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121 single-menu-item">
                                            <a title="Blog" href="../hostinza/blog/index.html"><i
                                                    class="icon icon-file-2"></i>Blog</a></li>
                                        <li id="menu-item-504"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-504 single-menu-item">
                                            <a title="Blog Single"
                                                href="../hostinza/cloud-hosting-growing-faster-todays/index.html"><i
                                                    class="icon icon-contract"></i>Blog Single</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-120"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-120 single-menu-item">
                                    <a title="Contact" href="/contact">İletişim</a></li>
                            </ul>
                        </div>
                    </nav>
                    <ul class="xs-menu-tools">

                        <li>
                            <a href="#modal-popup-wpml" class="languageSwitcher-button xs-modal-popup"><i
                                    class="icon icon-internet"></i></a>
                        </li>
                        <li>
                            <a href="#modal-popup-2" class="navsearch-button xs-modal-popup"><i
                                    class="icon icon-search"></i></a>
                        </li>
                        <li>
                            <a href="#" class="navSidebar-button"><i class="icon icon-burger-menu"></i></a>
                        </li>
                    </ul>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </header>
    </div>